body{
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop");


}
.logo{
    height: 100px;
    width: 100px;
}

.navBar{
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;

}
.navBar ul{
    flex: 1;
    text-align: center;

}
.navBar ul li{
    display: inline-block;
    margin: 10px 20px;
}
.navBar ul li a{
    color: black;
    text-decoration: none;
}
.btn{
    color: black;
    text-decoration: none;
    margin-right: 18px;
    padding: 10px;    
}
.content{
 
    font-size: 50px;
    align-items: center;
    position: absolute;
    margin-left: 40%;
    margin-top: 7%;
}
.Btn1{
    padding: 10px 80px;
    color: white;
    background-color: black;
    border-radius: 30px;
    text-decoration: none;
    position: absolute;
    margin-top: 32%;
    margin-left: 30%;
}
.Btn2{
    padding: 10px 80px;
    color: white;
    background-color: grey;
    border-radius: 30px;
    text-decoration: none;
    position: absolute;
    margin-top: 32%;
    margin-left: 60%;
}
.inventory{
    color: black;
    text-decoration: none;
    align-items: center;
    display: flex;
    margin-left:42% ;
}